<head>
        {{ with .Site.Params.charset -}}
        <meta charset="{{ . }}" />
        {{- end }}
	{{- $title := ( .Title ) -}}
	{{- $siteTitle := ( .Site.Title ) -}}
	{{ if .IsHome -}}
	<title>{{ $siteTitle }} {{- if isset .Site.Params "subtitle"}} - {{ .Site.Params.Subtitle }}{{- end -}} </title>
	{{- else -}}
	<title>{{ $title }} - {{ $siteTitle }}</title>
	{{- end }}

	<meta name="viewport" content="width=device-width, initial-scale=1">
	{{ with .OutputFormats.Get "rss" -}}
	{{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
	{{ end -}}

        <!--<link rel="stylesheet" type="text/css" media="screen" href={{ "css/normalize.css" | absURL }} />-->
	<link rel="stylesheet" type="text/css" media="screen" href="{{ "main.css" | absURL }}"/>

	{{ range .Site.Params.custom_css -}}
	<link rel="stylesheet" href="{{ . | absURL }}">
	{{- end }}

</head>
