<div class="header">
  <img src={{ .Site.Params.picture_name | absURL }} class="profile_image" alt="A photo portrait of {{ .Site.Title }}">
	<h1 class="site-title">{{ .Site.Title }}</h1>
	<div class="site-affilation">
		<div class="affilation">
			{{- range $index, $key := .Site.Params.affilation -}}
			<ul class="flat">
				<li class="position">{{$key.position}}, {{$key.name}}</li>
				<li class="email">{{ $key.contact}}</li>
			</ul>
			{{- end -}}
		</div>

		<nav class="nav social">
			<ul class="flat">
				{{- range $index, $key := .Site.Params.Social -}}
                                <li><a rel="me" href="{{ $key.url }}" title="{{ $key.name }}" class="blog_cv">[{{ $key.icon }}]</a></li>  
				{{- end -}}
                        </ul>
				{{ if or (.Site.Params.blog) (.Site.Params.cv_name) (.Site.Params.dblp) }}
			<ul class="flat">
				{{- with .Site.Params.blog -}}
                                <li><a rel="me" href="{{ . }}" class="blog_cv">[blog]</a></li>
				{{- end -}}

				{{- with .Site.Params.dblp -}}
                                <li><a href="{{ . }}" class="blog_cv">[dblp]</a></li>
				{{- end -}}

				{{ with .Site.Params.cv_name }}
                                <li><a href="{{ . }}" class="blog_cv">[cv]</a></li>
				{{ end }}
				{{ end }}
			</ul>
		</nav>
	</div>

	<nav class="nav">
		<ul class="flat">
			{{ range .Site.Menus.main }}
			<li><a href="{{ .URL }}">{{ .Name }}</a></li>
			{{ end }}
		</ul>
	</nav>
</div>
