<div class="header">
  {{ with .Site.Params.gravatar }}
  <img class="profile_image" src="https://www.gravatar.com/avatar/{{ . | md5 }}?s=512&d=identicon" alt="avatar"/>
  {{ end }}
  {{ if (not (isset .Site.Params "gravatar")) }}
  {{ with .Site.Params.picture_name }}
  <img src={{ . | absURL }} class="profile_image" alt="A photo portrait of {{ .Site.Title }}">
  {{ end }}
  {{ end }}
	<h1 class="site-title">{{ .Site.Title }}</h1>
	<div class="site-affilation">
		<div class="affilation">
			{{- range $index, $key := .Site.Params.affilation -}}
			<ul class="flat">
				<li class="position">{{$key.position}}, {{$key.name}}</li>
				<li class="email">{{ $key.contact}}</li>
			</ul>
			{{- end -}}
		</div>
	</div>
		<nav class="nav social">
			<ul class="flat">
				{{- range $index, $key := sort .Site.Params.Social "icon" -}}
                                <li><a rel="me" href="{{ $key.url }}" title="{{ $key.name }}" class="blog_cv">[{{ $key.icon }}]</a></li>  
				{{- end -}}
                        </ul>
		</nav>

	<nav class="nav">
		<ul class="flat">
			{{ range .Site.Menus.main }}
			<li><a href="{{ .URL }}">{{ .Name }}</a></li>
			{{ end }}
		</ul>
	</nav>
</div>
