<div class="introduction">
	{{ with .Site.Params.reports }}
	<h4>Preprints and Technical Reports</h4>

	{{- range $index, $reports := $.Site.Params.reports -}}
	<div class="year">{{ $reports.year }}</div>

	<ul>
		{{ range $elem_index, $report := $reports.report }}
		<li>
                        {{ $report.authors | markdownify }}.
			{{ if $report.link }}
			<a href="{{ $report.link }}" > {{ $report.name }}</a>,
			{{ else }}
			{{ $report.name }}, 
			{{ end }}
			{{ $report.dest | markdownify }}.
                        {{ if or ($report.code_link) $report.blog_link $report.pdf_link $report.video_link $report.slides_link }}
			<span class="code_blog"> {{ with $report.pdf_link }}
				<a href="{{ $report.pdf_link }}">[pdf]</a>
				{{ end }} {{ with $report.code_link }}
				<a href="{{ $report.code_link }}">[code]</a>
				{{ end }} {{ with $report.blog_link }}
				<a href="{{ $report.blog_link }}">[blog]</a>
				{{ end }} {{ with $report.slides_link }}
				<a href="{{ $report.slides_link }}">[slides]</a>
				{{ end }} {{ with $report.video_link }}
				<a href="{{ $report.video_link }}">[video]</a>
				{{ end }}
			</span>
			{{ end }}
		</li>
		{{ end }}
	</ul>
	{{- end -}}
	{{- end -}}
</div>
