body {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  color: #333;
  font-size: 18px;
  background-color: #fafafa
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: none;
  height: 1px;
  border: 0;
  margin: 1rem 0;
  padding: 0;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

blockquote {
  margin-left: 1rem;
  font-style: italic;
  font-size: 1.4rem;
  font-family: Georgia, bitstream charter, serif;
  border-left: 3px solid;
  border-color: #a00;
  padding-left: 20px;
}

blockquote cite {
  font-size: 70%;
  opacity: 0.8;
}
span {
    display: block;
}

/* https://html.spec.whatwg.org/multipage/rendering.html#phrasing-content-3 */
:link { color: #0000EE; }
:visited { color: #551A8B; }

a,
a:hover {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  padding-left: 15px;
}

ul.flat {
  margin: 0;
  padding: 0;
  list-style: none;
}

.prevent-collapse {
  min-height: 0.1rem;
}

.page-title {
  margin: 0;
}

.smaller {
  font-size: 70%;
}

ul {
  list-style: disc inside;
}

.introduction ul li {
  margin-bottom: 10px;
}

.introduction ul li p {
  display: inline;
}

.highlight pre {
  margin-bottom: 0;
  margin-top: 0;
  padding: 20px;
  background-color: #fafafa !important;
}

.highlight {
  background: 0 0;
}

.wrapper {
  max-width: 760px;
  margin: 0 auto;
}

.container {
  margin-top: 50px;
}

.header {
  margin-bottom: 20px;
  /* padding-bottom: 20px; */
}

.header .profile_image {
  vertical-align: middle;
  border-radius: 50%;
  /* float: left; */
}

.header h1,
.header h2 {
  margin: 0;
  padding: 0;
  line-height: 1.3em;
}

.header nav {
  margin-top: 20px;
}

.header nav ul,
.header nav li {
  margin: 0;
}

.header nav ul.flat {
  padding: 0;
}

.header nav ul.flat li {
  display: inline-block;
  list-style: none;
  margin-left: 0;
  margin-right: 10px;
  margin-top: 10px;
}

.affiliation ul {
  line-height: 1 !important;
}

.header .site-affilation .email {
  font-family: "Ubuntu Mono", monospace;
  font-weight: bolder;
}

.header .site-affilation nav {
  margin: 0;
  padding: 0;
  border: none;
}

.header .site-affilation nav ul svg {
  /* max-height: 15px; */
}

/* header for projects */
.header .logo {
  display: block;
  margin-top: 2%;
  margin-bottom: -2%;
  margin-left: auto;
  margin-right: auto;
  max-width: 10%;
  height: auto;
}

.page_title {
  font-family: Ubuntu, raleway, sans-serif;
  display: block;
}

.page_meta {
  display: block;
  font-family: "Ubuntu Mono", monospace;
}

.page_meta_icon {
  font-weight: .5em;
}

.email {
  font-family: "Ubuntu Mono", monospace;
  font-weight: bolder;
}

.collaborators {
  font-size: 15px;
  margin-left: .9em;
  margin-top: .1em;
}

.project {
  margin: .5em -.5em 0em;
}

.publications {
  margin-left: -.5em;
}

.code_blog {
    font-family: "Ubuntu Mono", monospace;
    font-size: 14px;
    margin: 0em .9em 0em;
}

.blog_cv {
    font-family: "Ubuntu Mono", monospace;
    font-size: 17px;
    /* margin: 0em .9em 0em; */
}

.project_description {
 margin: .5em .9em 0em;
}

.section .section-header {
  /* font-size: 0.75rem; */
  font-weight: 600;
  text-transform: uppercase;
  color: #999;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

.container > .introduction {
  margin-bottom: 2rem;
}

.recent-posts .posts .introduction {
  margin-bottom: 30px;
}

.recent-posts .posts .introduction .meta,
.introduction .introduction-header .meta,
.list .posts .introduction .meta {
  /* font-size: 0.725rem; */
  color: #999;
  margin-bottom: 4px;
}

.introduction .introduction-header {
  margin-bottom: 30px;
}

.introduction .introduction-header .title {
  margin: 0;
}

.introduction .introduction-header .meta {
  padding-left: 5px;
  margin-top: 10px;
}

.list .posts .introduction .meta {
  margin-bottom: 0;
  margin-left: 5px;
}

.footer {
  text-align: right;
  color: #999;
  border-top: 1px solid #f4f4f4;
  padding: 20px 0;
  margin-top: 40px;
}

.page-title {
  margin-bottom: 0;
}

.tag-cloud {
  margin-top: 20px;
}

.tag-cloud a {
  margin-right: 15px;
}

.profile {
  max-width: 20% !important;
}

.propic-div {
  display: flex;
  justify-content: center;
}

ul.flat {
  line-height: 1;
}

@media (max-width: 750px) {
  body {
    padding: 20px;
  }

  ul.flat li.sep {
    display: none;
  }

  .profile_image {
    min-width: 110%;
    margin-top: 3rem;
  }

  .container {
    margin-top: 10px;
  }
}

@media (max-width: 550px) {
  body {
    font-size: 14px;
  }
  .profile_image {
    max-width: 40% !important;
    min-width: 40% !important;
  }
  .header h2, .header ul {
    text-align: center;
  }

  .row {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
}

b, strong { font-weight: 500 !important ;}

@media (min-width:750px) {
  audio,
  canvas,
  img,
  video {
    width: 100%;
    vertical-align: middle;
  }  
  ul.flat li {
    display: inline-block;
    margin-left: 0;
  }

} 

